//1.0 Fonts
//2.0 Vars
//3.0 Functions
//4.0 Global Styles
//5.0 Header
//6.0 Footer
//7.0 Home
//8.0 About
//9.0 Service Page
//10.0 Contact

//1.0 Content Fonts
@import "https://fonts.googleapis.com/css?family=Bree+Serif:400,600&display=swap"
@import "https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap"

//2.0 Content Vars
font-title = 'Bree Serif', sans-serif
font-text = 'Poppins', sans-serif
blue-color-brand = #0d1047
red-color-brand = #f71735 
instagram-color = #DD2A7B
facebook-color = #3b5998
twitter-color = #1da1f2
primary-title-fs = 26px
second-title-fs = 20px
third-title-fs = 16px
global-text-fs = 14px
hight-text-fs = 16px
comun-shadow = rgba(0,0,0,0.05)

//3.0 Content Functions
isFnTransition(ms)
    transition: all ms linear
    -webkit-transition: all ms linear
    -moz-transition: all ms linear

isFnCardService()
    border-radius: 10px
    padding: 20px
    isFnTransition(0.3s)

    .is-title
        display: block
        margin-bottom: 15px
        color: #000
        font-weight: bold
        font-size: 20px

    i
        color: red-color-brand
        font-size: 18px
        margin-right: 10px
        isFnTransition(0.3s)

    p
        color: #999999
        margin-bottom: 20px

    .is-link
        text-transform: uppercase
        font-size: 14px
        font-weight: bold
        color: blue-color-brand
        border-bottom: 2px solid blue-color-brand

    &:hover
        background: red-color-brand
        box-shadow: 0 -3px 15px comun-shadow  

        i,
        p,
        .is-link
            color: #FFF

//4.0 Content Global Styles
body
    background: rgba(0,0,0,0.02)
    font-family: font-text
    font-size: 14px
    color: #666

    .is-page
        margin-top: 75px

    h1, h2, h3, h4, h5
        font-family: font-title
        color: red-color-brand
        font-weight: bold
        margin-bottom: 20px
        letter-spacing: 1px
    
    h1
        font-size: 36px
    h2
        font-size: 30px
    h3
        font-size: 24px
    h4
        font-size: 20px
    h5
        font-size: 18px
    
    p
        font-family: font-text
        color: #000
        margin-bottom: 20px
    
    p.is-medium-pr
        font-size: 16px
        line-height: 22px
    
    p.is-big-pr
        font-size: 18px
        line-height: 26px
    
    form
        fieldset 
            padding: 0
            box-sizing: border-box
            margin: 0
            margin-bottom: 10px

            label   
                display: block
                margin-bottom: 3px
                font-size: 13px

            input,
            select,
            textarea
                box-sizing: border-box
                padding: 10px
                outline: 0
                width: 100%
                border: 0
                border-bottom: 2px solid rgba(0,0,0,0.1)
                color: blue-color-brand
                font-size: 16px
                resize: none
                background: #FFF
                isFnTransition(0.3s)

                &:hover
                    background: rgba(0,0,0,0.03)

                &:focus
                    border-bottom: 2px solid blue-color-brand
                    background: rgba(0,0,0,0.03)

            input[type="submit"]
                background: red-color-brand
                color: #FFF
                border-radius: 5px
                font-weight: bold
                font-size: 18px
                padding: 15px 25px
                cursor: pointer

                &:hover
                    background: blue-color-brand
                

//5.0 Content Header
.is-header
    background: #FFF
    padding: 20px 0 10px 0
    height: 160px
    box-shadow: 0 3px 10px comun-shadow

    .is-brand
        img 
            display: block
            margin: 0 auto
            max-width: 80px

    #btn-menu
        display none
        position: absolute;
        right: 30px;
        top: 25px;
        width: 50px;
        height: 50px;
        text-align: center;
        vertical-align: middle;
        font-size: 35px;
        color: #f71735;
        transition: 0.3s;
    
    .is-box-contact
        position: relative
        text-align: right
        padding-right: 50px 
        padding-top: 25px

        span,
        a
            display: block
        
        span
            font-weight: bold
            color: blue-color-brand
        a
            color: #666
        
        i
            position: absolute
            top: 27px
            right: 0
            padding: 10px
            border: 1px solid red-color-brand
            color: red-color-brand
            font-size: 18px
            width: 40px
            text-align: center
    
    .is-box-nav
        background: #FFF
        box-shadow: 0 -3px 7px comun-shadow
        margin-top: 20px
        border-bottom: 1px solid comun-shadow
        position: relative
        z-index: 100

        ul
            text-align: center

            li
                display: inline-block
                font-weight: bold
                text-transform: uppercase
                color: blue-color-brand
                font-size: 16px
                margin: 0 15px
                position: relative

                a
                    color: inherit
                    display: block
                    padding: 5px 10px
                    letter-spacing: 1px
                    isFnTransition(0.3s)

                a.is-current,
                a:hover
                        color: red-color-brand
                
                .is-level
                    position: absolute
                    top: 95%
                    left: -35px
                    display: none
                    width: 200px
                    background: #FFF
                    text-align: left
                    border-radius: 5px
                    box-sizing: border-box
                    padding: 20px
                    box-shadow: 0 5px 15px rgba(0,0,0,.2)
                    z-index: 10
                    border: 1px solid comun-shadow

                    li
                        display: block
                        text-transform: capitalize
                        margin: 0 0 10px 0
                        font-size: 14px

                        a
                            padding: 0
                            color: #000

                            i
                                color: #999
                                margin-right: 5px
                            
                            &:hover
                                color: red-color-brand

                                i
                                    color: blue-color-brand
                
                &:hover
                    .is-level
                        display: block
        
        .is-quote
            position: absolute
            top: -5px
            right: -5px
            background: red-color-brand
            color: #ffffff
            font-size: 16px
            height: 68px
            line-height: 65px
            font-weight: bold
            padding: 0 25px
            border-radius: 5px
            isFnTransition(0.3s)

            &:hover
                background: blue-color-brand


//6.0 Content Footer
.is-footer
    background: blue-color-brand
    padding: 30px 0
    text-align: center

    img 
        width: 100px
        display: block
        margin: 0 auto 15px

    .is-social
        margin-bottom: 30px

        a
            display: inline-block
            margin: 0 10px
            font-size: 18px
            color: #FFF
            isFnTransition(0.3s)

            &:hover
                color: red-color-brand
    
    ul
        li
            display: inline-block
            margin: 0 5px

            a
                color: #999999
                isFnTransition(0.3s)

                &:hover
                    color: #FFF
                    text-decoration: underline
    
    .is-by
        color: #FFF
        font-size: 13px

//7.0 Content Home
.is-home-section
    .is-slider
        height: 600px
        overflow: hidden
        margin-bottom: 50px
    
    .is-services
        margin-bottom: 100px

        h2
            text-align: center
            margin-bottom: 30px
        
        .is-item
            div
                isFnCardService()    
    
    .is-reasons
        background: url('/assets/img/elige-jp-contadores.jpg') no-repeat center center
        background-size: cover
        padding: 75px 0
        position: relative
        margin-top: 150px

        img 
            position: absolute
            top: -130px
            right: 50px
            z-index: 5
            width: 40%

        .is-mask
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            z-index: 1
            background: rgba(13,16,71,0.7)
        
        .container
            z-index: 2

            .is-descr
                color: #FFF
                margin-bottom: 50px

        .is-item
            margin-bottom: 30px

            i
                color: red-color-brand
                display: block
                font-size: 26px
                margin-bottom: 10px
            
            strong 
                color: #ffffff
                font-size: 16px
                display: block
                margin-bottom: 15px
            
            p
                color: #999


//8.0 Content About
.is-about-section
    .is-overview
        text-align: center
    
    .is-reasons
        margin-top: 50px

        .is-item
            div
                border-radius: 5px
                padding: 20px
                isFnTransition(0.3s)

                strong
                    font-size: 16px
                    display: block
                    margin-bottom: 20px

                    span
                        background: red-color-brand
                        color: #FFF
                        width: 30px
                        height: 30px
                        border-radius: 100%
                        display: inline-block
                        text-align: center
                        line-height: 30px
                        margin-right: 10px
                        isFnTransition(0.3s)

                &:hover
                    background: red-color-brand
                    box-shadow: 0 5px 15px rgba(0,0,0,.2)

                    span
                        background: #FFF
                        color: red-color-brand
                    
                    p
                        color: #FFF
    
    .is-organization
        background: url('/assets/img/mision-vision.jpg') no-repeat center center
        background-size: cover
        position: relative
        margin-top: 75px
        padding: 50px 0
        margin-bottom: 50px

        .is-mask
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            z-index: 1
            background: rgba(13,16,71,0.7)
        
        h3
            text-align: center
        
        .is-box
            h2, h3
                color: #fff
            
            i
                display: block
                color: red-color-brand
            
            p
                font-size: 16px
                color: #E8E8E8
            
            h3
                margin-top: 50px
            
            ul
                text-align: center

                li
                    display: inline-block
                    margin: 0 10px
                    color: #999999
                    font-size: 16px
                    font-weight: bold

        .container
            z-index: 5 
    
    .is-team
        margin-bottom: 50px

        h3
            margin-bottom: 30px

        img 
            isFnTransition(0.3s)
            opacity: 0.7
            margin-bottom: 15px
        
        strong 
            color: blue-color-brand
            display: block
            font-size: 16px
        
        span
            color: red-color-brand
        
        .is-one-quarter:hover
            img 
                opacity: 1


//9.0 Content Service Page
.is-service-section
    .is-half
        ul
            display: block
            margin-top: 20px

            li
                display: block
                margin-bottom: 10px

                i
                    margin-right: 5px
                    color: red-color-brand
    
    .is-faqs
        padding-top: 85px

        .is-question
            margin-bottom: 20px
            border-bottom: 1px solid comun-shadow

            strong 
                color: blue-color-brand
                display: block
                margin-bottom: 5px

                span
                    color: red-color-brand
                    font-size: 18px
                    margin-right: 5px
            
            p
                color: #666
    
    .is-services
        margin-top: 50px
        padding: 50px 0
        background: rgba(0,0,0,0.05)

        .is-item
            margin-bottom: 30px

            div
                isFnCardService()

//10.0 Content Contact Page
.is-contact-section
    .is-contact
        background: url('/assets/img/elige-jp-contadores.jpg') no-repeat center center
        background-size: cover
        padding: 75px 0
        position: relative
        margin-bottom: 50px

        .is-mask
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            z-index: 1
            background: rgba(13,16,71,0.7)
            
        .container
            z-index: 2

            .is-big-pr
                color: #FFF
                margin-bottom: 50px

        .is-item
            margin-bottom: 30px

            i
                color: red-color-brand
                display: block
                font-size: 26px
                margin-bottom: 10px
                
            strong 
                color: #ffffff
                font-size: 16px
                display: block
                margin-bottom: 15px
                
            p,
            a
                color: #999
            
            a
                margin-right: 5px

            a:hover
                text-decoration: underline
    
    form
        input[type="submit"]
            margin-bottom: 50px

//RESPONSIVE

//Desktop
@media only screen and (min-width: 1024px) and (max-width: 1215px)
    .is-header
        .container
            max-width: 100% !important
            .is-brand
                width: 20% !important
            .is-box-contact.is-mail
                padding-right: 25px !important
                i
                    right -25px !important
//Tablet
@media only screen and (min-width: 769px) and (max-width: 1023px)
    .is-header
        height auto !important
        padding-bottom: 0px !important
        .is-box-contact
            display: none;
        .is-box-nav
            box-shadow none !important
            margin: 0px !important
            padding: 0px !important
            border none !important
        #btn-menu
            display: initial !important
        .is-menulist.menu-show
            height 450px !important
        .is-quote
            top: -110px !important;
            right 37% !important
        .is-menulist
            width: 100% !important
            overflow hidden !important
            height 0px
            border none !important
            box-shadow none !important
            background: #e6e6e6 !important
            margin-top 13px !important
            transition: 0.5s !important
            li
                display: block !important
                width: 100% !important
                margin: 10px 0px !important
                text-align: center !important
                height auto !important
                .is-level
                    position: relative !important
                    display: block !important
                    width: 100% !important
                    height auto !important
                    left initial !important
                    box-shadow none !important
                    border none !important
                    background: #e0e0e0 !important
                    padding: 20px 0px !important
                    li
                        font-size: 16px !important
    //HOME
    .is-home-section
        .is-item
            div
                background: red-color-brand
                box-shadow: 0 -3px 15px comun-shadow  
                i,
                p,
                .is-link
                    color: #FFF !important
        .description-home, .is-services
            text-align: center !important
        .is-slider
            height auto !important
        .is-reasons
            img 
                display none !important
            .content-reasons
                width: 100% !important;
                text-align: center !important
    //Service page
    .is-service-section
        text-align: center !important
//Mobile
@media only screen and (max-width: 768px)
    .is-header
        height auto !important
        padding: 0px !important
        .is-box-contact
            display: none;
        .is-box-nav
            box-shadow none !important
            margin: 0px !important
            padding: 0px !important
            border none !important
        #btn-menu
            display: initial !important
        .is-menulist.menu-show
            height 450px !important
        .columns
            margin 0px !important
        .is-quote
            display none
        .is-menulist
            width: 100% !important
            overflow hidden !important
            height 0px
            border none !important
            box-shadow none !important
            background: #e6e6e6 !important
            margin-top 0px !important
            transition: 0.5s !important
            li
                display: block !important
                width: 100% !important
                margin: 10px 0px !important
                text-align: center !important
                height auto !important
                .is-level
                    position: relative !important
                    display: block !important
                    width: 100% !important
                    height auto !important
                    left initial !important
                    box-shadow none !important
                    border none !important
                    background: #e0e0e0 !important
                    padding: 20px 0px !important
                    li
                        font-size: 16px !important
    //HOME
    .is-home-section
        .is-item
            div
                background: red-color-brand
                box-shadow: 0 -3px 15px comun-shadow  
                i,
                p,
                .is-link
                    color: #FFF !important
        .description-home, .is-services
            text-align: center !important
        .is-slider
            height auto !important
        .is-reasons
            margin-top: 20px !important
            img 
                display none !important
            .content-reasons
                width: 100% !important;
                text-align: center !important
    //NOSOTROS
    .is-about-section
        text-align: center !important
    //Service page
    .is-service-section
        text-align: center !important
        .is-item
            div
                background: red-color-brand
                box-shadow: 0 -3px 15px comun-shadow  
                i,
                p,
                .is-link
                    color: #FFF !important
    //CONTACT
    .is-contact-section
        text-align: center !important
        background: #e6e6e6
        form
            background: #e6e6e6